:root{
--primary: #dbcfb0;
--secondary: #BFC8AD;
--tertiary: #90B494;
--quintiary: #718F94;
--light: #fff;
--dark: #545775;
}

main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
    background: var(--primary);
    color: var(--dark);
    font-family: 'roboto', sans-serif;
}

header {
    background: var(--light);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

img.logo {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.5;
}

.card {
    width: 25%;
    text-align: center;
}
  
.card-title {
    font-size: 1.5rem;
    color: var(--tertiary);
}
  
.card-text {
    font-size: 0.75rem;
    height: 8rem;
    color: var(--quinary);
}

.card-image {
    max-width: 300px;
    max-height: 150px;
}